# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Tenserflow

| Data Science Tools          |
| --------------------------- |
| Jupyter Notebook            |
| RStudio                     |
| VS Code with Python Plugin  |

### Below are a few examples of evaluating arithmetic expressions in Python.
1. Addition:

In [2]:
   result = 5 + 3
   print(result)  # Output: 8

8

2. Subtraction:

In [1]:
result = 10 - 4
print(result)  # Output: 6

6

3. Multiplication

In [3]:
result = 6 * 7
print(result)  # Output: 42

42

4. Division

In [4]:
result = 20 / 4
print(result)  # Output: 5.0

5.0

In [5]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- Python
- C++
- Julia
- Javascript

## Author

John Doe